.main__counter {
  position: relative;
  left: 50%;
  top: 41%;
  transform: translate(-50px, -50px);
}

.counter__ele {
  width: fit-content;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 10px 0;
}

.counter__ele .span__show {
  display: inline-block;
  width: 50px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  background-color: rgb(222, 240, 255);
  border-radius: 4px;
  transition: background-color 1.5s;
}

.counter__ele .span__show:hover {
  background-color: #FF9800;
  color: white;
}

.counter__ele button {
  width: 50px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
  transition: background-color 1.5s;
}

.counter__ele .btn__dec:hover {
  background-color: red;
  color: white;
}
.counter__ele .btn__inc:hover {
  background-color: green;
  color: white;
}
